<!DOCTYPE html>
<html lang="en">

<head>
	<title>Cheapo Aviation Weather App </title>
</head>

<body>
<form action="/" method="post">
	 Enter 4 letter Identifiers:<br>
	 <input type="text" name="inputString" value="" maxlength="200">
	 <br><br>
	 <input type="submit" value="Submit">
</form> 


{% block content %}
{% endblock %}

<p>This is not to replace certified flight planning software and tools. This application is not a substitute for the good judgement by the pilot-in-command and other flight crewmembers.
</p>

</body>
</html>